<div class="ui modal ConfigModal" ref="Modal">
  <div class="header">
    Configuration
  </div>
  <div class="scrolling content config-modal-content">
    <table-of-contents 
      v-bind:config="config"
      headings="h2"
      contentSelector=".config-modal-content"
      top="5rem"
      width="10rem"
      ref='toc'>
    </table-of-contents>
    
    <form class="ui form">
      
      <EditorConfiguration 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:localConfig="localConfig">
      </EditorConfiguration>
      
      <SpeakConfiguration 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:localConfig="localConfig">
      </SpeakConfiguration>
      
      <FileManager 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:localConfig="localConfig">
      </FileManager>
      
      <Statistics 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:localConfig="localConfig">
      </Statistics>
      
      <author 
        v-bind:config="config"
        v-bind:utils="utils"
        v-bind:localConfig="localConfig">
      </author>
      
    </form>

  </div>
  <div class="actions">
    <div class="ui cancel button">Close</div>
  </div>
</div>