.CodeMirror {
  font-family: Arial, monospace;
  font-size: 16px;
  line-height: 24px;
  
  height: 100vh !important;
  
  &.display-replace-panel {
    height: calc(100vh - @ReplacePanelHeight) !important;
  }
  
  
  .highlight {
    background-color: yellow;
  }
}
