<div class="float-action-button zoom"
     v-on:mouseout="delayCloseMenu"
     v-on:mousein="clearDelayCloseMenu"
     v-on:mouseover="initPopup"
     v-bind:style="computedStyle"
     v-bind:class="computedClassNameList"
     v-show="config.inited === true">
  <a class="zoom-fab zoom-btn-large tooltip" id="zoomBtn"
     v-bind:title="$t(computedMainIconText)"
     v-on:mouseover="showMenu = true"
     v-on:click="onMainIconClick"
     v-bind:data-content="$t(computedMainIconText)">
    <i v-bind:class="computedMainIconClassNameList"></i>
    <!--
    <span class="tooltiptext" style="left: 10%">
      {{ $t(computedMainIconText) }}
    </span>
    -->
  </a>
  <ul class="zoom-menu"
      v-bind:class="{'show': showMenu}">

    <!--
    <li title="Format" class="tooltip"
        v-on:click="formatCode"
        v-if="$parent.isFormatCodeEnabled">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="file code outline icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Format code</span>
    </li>
    
    <li title="Toggle Replace Panel" class="tooltip"
        v-on:click="toggleReplacePanel">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="edit icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Toggle Replace Panel</span>
    </li>
    -->

    <!--
    <li title="Search" class="tooltip">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="search icon"></i>
      </a>
      <span class="tooltiptext">Search</span>
    </li>
    -->
    <li v-bind:title="$t('Clear')" v-on:click="clear" class="tooltip">
      <a class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="eraser icon"></i>
      </a>
      <span class="tooltiptext">
        {{ $t('Clear') }}
      </span>
    </li>

    <li v-bind:title="$t('Configuration')" class="tooltip"
        v-on:click="openConfigModal">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="cogs icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">
        {{ $t('Configuration') }}
      </span>
    </li>

    <!--
    <li title="Toggle Format Panel" class="tooltip"
        v-on:click="toggleFormatPanel">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="file code outline icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Toggle Format Panel</span>
    </li>      
    -->

    <li v-bind:title="$t('Toggle Replace Panel')" class="tooltip"
        v-on:click="toggleReplacePanel">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="edit icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">
        {{ $t('Toggle Replace Panel') }}
      </span>
    </li>      

    <li v-bind:title="$t('Change Button Position')" class="tooltip"
        v-on:click="positionBottom = !positionBottom">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="arrow up icon" v-if="positionBottom"></i>
        <i class="arrow down icon" v-if="!positionBottom"></i>
      </a>
      <span class="tooltiptext" style="left: -112%;">
        {{ $t('Change Button Position') }}
      </span>
    </li>

    <!--
    <li v-bind:title="$t('Search Web')" class="tooltip"
        v-if="hasSelectedText"
        v-on:click="searchWeb">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="search icon"></i>
      </a>
      <span class="tooltiptext" style="left: -112%;">
        {{ $t('Search Web') }}
      </span>
    </li>
    -->
  </ul>
</div>