<div class="float-action-button zoom"
     v-on:mouseout="delayCloseMenu"
     v-on:mousein="clearDelayCloseMenu"
     v-bind:style="computedStyle">
  <a class="zoom-fab zoom-btn-large tooltip" id="zoomBtn"
     v-on:mouseover="showMenu = true"
     v-on:click="copy">
    <i class="copy icon"></i>
    <span class="tooltiptext" style="left: 10%">Copy</span>
  </a>
  <ul class="zoom-menu"
      v-bind:class="{'show': showMenu}">

    <!--
    <li title="Format" class="tooltip"
        v-on:click="openConfigModal">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="cogs icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Configuration</span>
    </li>
    -->

    <!--
    <li title="Format" class="tooltip"
        v-on:click="formatCode"
        v-if="$parent.isFormatCodeEnabled">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="file code outline icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Format code</span>
    </li>
    
    <li title="Toggle Replace Panel" class="tooltip"
        v-on:click="toggleReplacePanel">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="edit icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Toggle Replace Panel</span>
    </li>
    -->

    <!--
    <li title="Search" class="tooltip">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="search icon"></i>
      </a>
      <span class="tooltiptext">Search</span>
    </li>
    -->
    <li title="Clear" v-on:click="clear" class="tooltip">
      <a class="zoom-fab zoom-btn-sm zoom-btn-person scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="eraser icon"></i>
      </a>
      <span class="tooltiptext">Clear</span>
    </li>


    <li title="Toggle Replace Panel" class="tooltip"
        v-on:click="toggleReplacePanel">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="edit icon"></i>
      </a>
      <span class="tooltiptext" style="left: -100%;">Toggle Replace Panel</span>
    </li>      

    <li title="Change Button Position" class="tooltip"
        v-on:click="positionBottom = !positionBottom">
      <a class="zoom-fab zoom-btn-sm zoom-btn-doc scale-transition"
         v-bind:class="{'scale-out': !showMenu}">
        <i class="arrow up icon" v-if="positionBottom"></i>
        <i class="arrow down icon" v-if="!positionBottom"></i>
      </a>
      <span class="tooltiptext" style="left: -112%;">Change Button Position</span>
    </li>


  </ul>
</div>