<div class="ui segment">
  <h2 class="header" id="EditorConfiguration">
    {{ $t('Editor Configuration') }}
  </h2>
  
  
      <div class="field">
        <div class="ui toggle checkbox">
          <input type="checkbox" tabindex="0" class="hidden"
                 id="EnableTextWrap"
                 v-model="localConfig.enableTextWrap" />
          <label for="EnableTextWrap">Enable Text wrap</label>
        </div>
      </div>

      <div class="field">
        <label>Tab type</label>

      </div>

</div>