<div class="ui segment">
  <h2 class="header" id="EditorConfiguration">
    {{ $t('Editor Configuration') }}
  </h2>

  <div class="field">
    <label for="CodeMirrorSyntax">
      {{ $t('Syntax') }}
    </label>
    <select v-model="localConfig.syntax"
            id="CodeMirrorSyntax">
      <option v-for="option in modeOptions"
              v-bind:value="option.value">
        {{ $t(option.text) }}
      </option>
    </select>
  </div>
  
  <!-- =================================================== -->
  
  <div class="fields">
    <div class="eight wide field">
      <div class="ui toggle checkbox">
        <input type="checkbox" tabindex="0" class="hidden"
               id="EnableTextWrap"
               v-model="localConfig.lineWrapping" />
        <label for="EnableTextWrap">Enable Text wrap</label>
      </div>
    </div>
    
    <div class="eight wide inline field">
      <label for="CodeMirrorFontSize">
        {{ $t('Font Size (pt)') }}
      </label>
      <input type="range" min="10" max="32" step="2"
             v-model="localConfig.fontSize" />
    </div>
  </div>
  
  <!-- =================================================== -->
  
  <div class="fields">
    <div class="eight wide inline field">
      <label>
        {{ $t('Indent') }}
      </label>

      <div class="ui radio checkbox">
        <input type="radio" name="indentStyle" value="tab" tabindex="0" class="hidden"
               v-model="localConfig.indent.mode"
               id="localConfig.indent.mode.tab">
        <label for="localConfig.indent.mode.tab">
          {{ $t('Tab') }}
        </label>
      </div>

      <div class="ui radio checkbox">
        <input type="radio" name="indentStyle" value="space" tabindex="0" class="hidden"
               v-model="localConfig.indent.mode"
               id="localConfig.indent.mode.space">
        <label for="localConfig.indent.mode.space">
          {{ $t('Space') }}
        </label>
      </div>
    </div>
    
    <div class="eight wide inline field" 
         v-if="localConfig.indent.mode === 'space'">
      <label for="CodeMirrorSpaceSize">
        {{ $t('Size') }}
      </label>
      <input type="number" min="0" max="4"
             id="CodeMirrorSpaceSize"
             v-model="localConfig.indent.size" />
      
    </div>
    
    
    
  </div>

</div>