<div class="Index">

  <!--
  <textarea-editor ref="TextareaEditor"></textarea-editor>
  <replace-panel ref="ReplacePanel"></replace-panel>
  -->

  <!-- ====================== -->

  <!-- ===================== -->
  123123
  <config-modal ref="ConfigModal"></config-modal>
  3434
  <code-mirror ref="CodeMirror"></code-mirror>
  <replace-panel ref="ReplacePanel"></replace-panel>
  <format-panel ref="FormatPanel"></format-panel>

  <!-- ====================== --> 

  <key-bindings v-bind:editor="CodeMirrorEditor"></key-bindings>
  <float-action-button></float-action-button>

</div>