<div class="Index">
  <CodeMirrorEditor
    ref="CodeMirrorEditor"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </CodeMirrorEditor>
  
  <!--
  <FormatPanel
    ref="FormatPanel"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </FormatPanel>
  -->
  
  <!--
  <DragDropOpener
    ref="DragDropOpener"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </DragDropOpener>
  -->
  
  <ReplacePanel
    ref="ReplacePanel"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ReplacePanel>
  
  <!-- ============================= -->
  
  <ConfigModal
    ref="ConfigModal"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </ConfigModal>
  
  <FloatActionButton
    ref="FloatActionButton"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </FloatActionButton>
  
</div>