<div class="replace-panel ui form"
     v-show="localConfig.displayPanel === 'replace' && config.inited === true">
  <div class="inline field">
    <label for="stringToSearch">
      {{ $t('Search') }}
    </label>

    <div class="ui action icon input string-to-search-input-container">
      <div class="ui icon fluid input string-to-search-input">
        <input type="text" 
               placeholder="Search..."
               ref="SearchInput"
               id="stringToSearch"
               v-model="localConfig.stringToSearch"
               class="" />
        <i class="link paragraph icon"
           titl="New line"
           v-on:click="localConfig.stringToSearch = localConfig.stringToSearch + '\\n'"></i>
        <i class="link close icon"
           titl="Clear"
           v-if="localConfig.stringToSearch"
           v-on:click="localConfig.stringToSearch = ''"></i>
      </div>
      <button type="button" class="ui compact button"
              v-bind:class="{disabled: !isSearchEnabled}"
              v-on:click="findPrev">
        <i class="long arrow alternate left icon"></i>
      </button>
      <button type="button" class="ui compact button"
              v-bind:class="{disabled: !isSearchEnabled}"
              v-on:click="findNext">
        <i class="long arrow alternate right icon"></i>
      </button>
    </div>

  </div>

  <!-- =========================================== -->

  <div class="inline field">
    <label for="stringToReplaceWith">Replace with</label>
    <div class="ui action icon input string-to-replace-with-input-container"
         v-bind:class="computedReplaceInputClassName">
      <div class="ui icon input string-to-replace-with-input">
        <input type="text" 
               placeholder="Replace with..."
               id="stringToReplaceWith"
               ref="ReplaceInput"
               v-model="localConfig.stringToReplaceWith" />
        <i class="link paragraph icon"
           titl="New line"
           v-on:click="localConfig.stringToReplaceWith = localConfig.stringToReplaceWith + '\\n'"></i>
        <i class="link close icon"
           titl="Clear"
           v-if="localConfig.stringToReplaceWith"
           v-on:click="localConfig.stringToReplaceWith = ''"></i>
      </div>

      <select class="ui compact selection dropdown replace-mode-select"
              v-model="localConfig.replaceMode">
        <option selected="" value="regex">Regex</option>
        <option value="raw">Raw</option>
        <option value="line">Line</option>
      </select>

      <select v-model="localConfig.replaceLineOptions.mode"
              class="ui compact selection dropdown replace-line-options-select"
              v-show="showReplaceLineOptionsSelect">
        <option value="prefix">Prefix</option>
        <option value="suffix">Suffix</option>
        <option value="first">First</option>
        <option value="last">Last</option>
      </select>

      <div class="ui button replace-count-button"
           v-on:click="doReplace"
           v-bind:class="{disabled: isReplaceDisabled, positive: !isReplaceDisabled}"
           v-bind:title="computedReplaceButtonTitle">
        {{ computedReplaceButtonText }}
      </div>

      <div class="ui mini button"
           v-on:click="undo"
           v-if="!isUndoDisabled">
        <i class="undo icon"></i>
      </div>
      <!--
      <div class="ui mini button"
           v-on:click="redo"
           v-if="!isRedoDisabled">
        <i class="redo icon"></i>
      </div>
      -->
    </div>

  </div>

  <!-- =========================================== -->


  <div class="inline fields">

    <div class="field">
      <label>Format</label>

      <div class="ui action icon input format-tool-container">
        <select v-model="localConfig.formatTool"
                class="ui compact selection dropdown format-tool-select">
          <optgroup label="Trim">
            <option value="lines-trim" v-bind:disabled="isTrimDisabled">Lines Trim</option>
            <option value="lines-ltrim" v-bind:disabled="isLTrimDisabled">Lines Left Trim</option>
            <option value="lines-rtrim" v-bind:disabled="isRTrimDisabled">Lines Right Trim</option>
          </optgroup>
          <optgroup label="Compress">
            <option value="code-minifiy" v-bind:disabled="isMinifyDisabled">Minify</option>
            <option value="code-beautify" v-bind:disabled="isBeautifyDisabled">Beautify</option>
          </optgroup>
        </select>
        <div class="ui button" 
             v-bind:class="computedFormatActionButtonClassNameList"
             v-on:click="doFormat">
          Format
        </div>
      </div>


    </div>

    <label for="calcCopyButton">
      Calculator
    </label>
    <div class="field">

      <div class="ui button calc-button"
           id="calcCopyButton"
           v-bind:class="computedCalcButtonClassName"
           v-on:click="copyCalcResult"
           title="Copy"><span>{{ computedCalcButtonText }}</span></div>
    </div>


    <!--
    <div class="inline field"
         v-if="isTrimEnabled">
      <button type="button"
        class="ui mini button"
        v-on:click="trimTextContent">
          Trim
      </button>
    </div>
    <div class="inline field"
         v-if="isLTrimEnabled">
      <button type="button"
        class="ui mini button"
        v-on:click="ltrimTextContent">
          LTrim
      </button>
    </div>
    <div class="inline field"
         v-if="isRTrimEnabled">
      <button type="button"
        class="ui mini button"
        v-on:click="rtrimTextContent">
          RTrim
      </button>
    </div>
    -->
  </div>
</div>